h1,h2{
    color: blue;
}

  .input_area{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.container{
    background-color: black;
    display:inline-flex;
    padding: 1em;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
}

.area{
    display: flex;
    justify-content: center;
}

button{
    height: 3em;
    width: 100%;
    background-color: brown;
    border: none;
    color: aqua;

}

button:hover{
    cursor: pointer;
}